# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

# build files
*.o
*.d


#libs
#*.a

#files created by build
*.apk
*.ap_
*.class
projects/Android/jni/Raze/*
projects/Android/build/*
projects/Android/.idea/*
Projects/Android/.cxx/*
*.json
Projects/Android/.externalNativeBuild/*
*.bin
.gradle/*
Projects/Android/.gradle/*
*.ser
Projects/Android/.idea/codeStyles/Project.xml
Projects/Android/.gradle/*
drbeef-release-key.keystore
Projects/Android/.idea/.name
Projects/Android/libs/arm64-v8a/libopenxr_loader_meta.so
Projects/Android/libs/arm64-v8a/libopenxr_loader_pico.so
